body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
    overflow-x: hidden;
}

.container {
    text-align: center;
    padding: 20px;
}

.banner {
    width: 100%;
    max-width: 400px; /* Diminuído de 600px para 400px */
    height: auto;
    margin-bottom: 20px;
}

h1 {
    color: #ff1493;
}

button {
    background-color: #ff1493;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #ff69b4;
}

.hearts-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 5;
}

.heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    transform: rotate(45deg);
    animation: float 3s ease-in-out infinite;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}

.heart::before {
    top: -10px;
    left: 0;
}

.heart::after {
    left: 10px;
    top: 0;
}

@keyframes float {
    0% {
        transform: translateY(0) rotate(45deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-1000px) rotate(45deg);
        opacity: 0;
    }
}
